#slider {
	position: relative;
	margin: 50px auto;
	width:80%;
	height: 80vh;
	background: #efefef;
	box-shadow: 0 0 10px #000;
	overflow: hidden;
}
#slider > * {
	position: absolute;
}
#slide {
	display: flex;				
	top: 0;
	left: 100%;
}
#slide {
	object-fit: cover;
}
#tumbs {
	bottom: 20px;
	width: 100%;
	text-align: center;
}
#tumbs > img {
	margin: 0 10px;
	width: 30px;
	height: 30px;
	border: 2px solid #fff;
	border-radius: 50%;
	box-shadow: 0 0 3px #000;
	cursor: pointer;
}
#count {
	padding: 5px 10px;
	font: .8em Arial;
	background: #000;
	color: #fff;
	top: 10px;
	left: 10px;
}